<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metrics the Gathering</title>

    <style>
        /* Just setting up the style here to make everything consistent. */
        body {
            text-align: center;
        }

        form {
            display: inline-block;
            margin: 5px 10px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 6px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Metrics the Gathering!</h1>

    <!-- Adding the Buttons to navigate the web interface -->
    <div class="button-group">
        <form action="/user_report" method="post">
            <button>View Metrics</button>
        </form>
        <form action="/proc_table" method="post">
            <button>View Processes</button>
        </form>
        <form action="/gather" method="post">
            <button>The Gathering</button>
        </form>
    </div>

    <-- Adding in the Marist Logo -->
    <img src="{{ url_for('static', filename='images/marist_logo.jpg') }}" alt="marist_Logo" width="350">
</body>
</html>
